body{
    color:#ffffff;
    text-align:center;
    font-size:16px;
    margin:0;
    padding:0;
    background-color: rgb(81, 79, 79);
    display:grid;
    place-items: center;
}

#tittle{
    font-family: 'Abril Fatface';
    font-weight: 40;
    font-size: 50px;
    text-align: center;
}

#first-message{
    display:grid;
    place-items: center;
    width: 40%;
    margin: auto;
}

#welcome-container{
    width:70%;
    padding:0;
}





